img {
    width: 100%;
}

body {
    font-family: Arial;
    line-height: 25px;
}

.column {
    width:600px;
    margin: 40px auto;
}

h1 {
    font-size: 60px;
    font-family: Georgia;
}

h1, h2 {
    color: #617926;
    text-shadow: 2px 2px 20px #99bd00;
}