img {
    width: 100%;
}

body {
    font-family: Arial;
    line-height: 25px;
}

.column {
    width:600px;
    margin: 0px auto;
    background-color: white;
    padding: 1px 40px 40px 40px;
    border-left: solid 25px #ff8a8a;
    border-right: solid 25px #ff8a8a;
}

p {
    border: solid 5px #929292;
    padding: 20px;
    border-radius: 20px;
}
