img {
    width: 100%;
}

body {
    font-family: Arial;
    line-height: 25px;
    background-color: #e5e5b5;
    margin:0;
}

.column {
    width:600px;
    margin: 0px auto;
    background-color: white;
    padding: 1px 40px 40px 40px;
    border-left: solid 25px #ff8a8a;
    border-right: solid 25px #ff8a8a;
}

h1 {
    font-size: 60px;
    font-family: Georgia;
    padding: 15px 0px;
}

h1, h2 {
    color: #617926;
    text-shadow: 2px 2px 20px #99bd00;
}

p {
    background: #39de98;
    padding: 5px;
}
